<div id="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Danh sách đơn hàng đang giao</a>
        </li>
      </ol>

      <!-- DataTables -->
      <div class="card mb-3">
          <div class="card-header">
              <i class="fas fa-table"></i>
              Danh sách đơn hàng đang giao
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr >
                    <th >Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại người nhận hàng</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Lời nhắn</th>
                    <th>Tổng tiền</th>
                    <th>Danh sách hàng hóa khách hàng mua</th>
                    <th>Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                {{#if datadelivery}}
                {{#each datadelivery}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.phoneNumber}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.message}}</td>
                    <td>{{this.totalPrice}}</td>
                    <td><a href="/order/delivery/{{this._id}}">Danh sách mặt hàng</a></td>
                    <td><a href="/order/delivered/{{this._id}}">Xác nhận đã giao hàng</a></td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>