<div id="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Xóa sản phẩm</a>
        </li>
      </ol>

      <!-- DataTables -->
      <div class="card mb-3">
          <div class="card-header">
              <i class="fas fa-table"></i>
              Danh sách sản phẩm
          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá (VNĐ)</th>
                    <th>Mô tả</th>
                    <th>Giảm giá</th>
                    <th>Lượt xem</th>
                    <th>ID Danh mục</th>
                    <th>Chọn</th>
                </tr>
              </thead>
              <tbody>
                {{#if data}}
                {{#each data}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.name}}</td>   
                    <td>{{this.price}}</td>
                    <td>{{this.content}}</td>
                    <td>{{this.discount}}</td>
                    <td>{{this.view}}</td>
                    <td>{{this.catalogId}}</td>
                    <td><button type="button"><a href="/product/delete/{{this._id}}">Xóa</a></button></td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
