<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Chỉnh sửa thông tin sản phẩm</div>
        <div class="card-body">
        <form method="POST" action="/product/update/{{data._id}}">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Tên sản phẩm" required="required" autofocus="autofocus" value="{{data.name}}">
                            <label for="name">Tên sản phẩm</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select name="categoryId" id="categoryId" class="form-control-lg form-control">
                            <option value="{{data.categoryId}}">{{data.nameCategory}}</option>
                            <option value="CA00006">Thiệp</option>
 
                            <option value="CA00009">Bookmark giấy</option>
 \
                            <option value="CA00010">Bookmark kim loại</option>
                            <option value="CA00007">Lomo Card</option>
                           
                           
                            <option value="CA00011">Quả cầu tuyết</option>
                            <option value="CA00008">Tem thư</option>
                            <option value="CA00012">Đồng hồ cát</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="text" name="id" id="id" class="form-control" placeholder="Mã sản phẩm" required="required" value="{{data.id}}">
                            <label for="id">Mã sản phẩm</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="number" name="price" id="price" class="form-control" placeholder="Giá" required="required" value="{{data.price}}">
                            <label for="price">Giá</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="number" name="discount" id="discount" class="form-control" placeholder="Discount" required="required" min="0" max="99" value="{{data.displaydiscount}}">
                            <label for="discount">Discount %</label>
                        </div>
                    </div>            
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <textarea name="content" id="content" required="required" rows="5" class="form-control" placeholder="Mô tả" for="content">{{data.content}}</textarea>
                        </div>
                    </div>                   
                </div>
            </div>
                <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                        <input type="text" name="imageLink1" id="imageLink1" class="form-control" placeholder="URL hình ảnh" required="required" value="{{data.imageLink1}}">
                        <label for="imageLink1">URL hình ảnh</label>
                        </div>
                    </div>                   
                </div>
            </div>
               <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                        <input type="text" name="imageLink2" id="imageLink2" class="form-control" placeholder="URL hình ảnh" value="{{data.imageLink2}}">
                        <label for="imageLink2">URL hình ảnh</label>
                        </div>
                    </div>                   
                </div>
            </div>
               <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                        <input type="text" name="imageLink3" id="imageLink3" class="form-control" placeholder="URL hình ảnh"value="{{data.imageLink3}}" >
                        <label for="imageLink3">URL hình ảnh</label>
                        </div>
                    </div>                   
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa"></i> Chỉnh sửa sản phẩm
            </button>
        </form>
      </div>
    </div>
</div>