<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Chỉnh sửa thông tin sản phẩm</div>
        <div class="card-body">
        <form method="POST" action="/product/update/{{data._id}}">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Tên sản phẩm" required="required" autofocus="autofocus" value="{{data.name}}">
                            <label for="name">Tên sản phẩm</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select name="catalogId" id="catalogId" class="form-control-lg form-control">
                            <option value="0">{{data.catalogId}}</option>
                            <option value="CA00005">Thiệp - Bưu ảnh</option>
                            <option value="CA00002">Móc khóa</option>
                            <option value="CA00003">Thú nhồi bông</option>
                            <option value="CA00004">Bookmark</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="text" name="id" id="id" class="form-control" placeholder="Mã sản phẩm" required="required" value="{{data.id}}">
                            <label for="id">Mã sản phẩm</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="number" name="price" id="price" class="form-control" placeholder="Giá" required="required" value="{{data.price}}">
                            <label for="price">Giá</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-label-group">
                            <input type="number" name="discount" id="discount" class="form-control" placeholder="Discount" required="required" value="{{data.discount}}">
                            <label for="discount">Discount</label>
                        </div>
                    </div>            
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                            <textarea name="content" id="content" required="required" rows="5" class="form-control" placeholder="Mô tả" for="content">{{data.content}}</textarea>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-label-group">
                        <input type="text" name="imageLink" id="imageLink" value="{{data.imageLink}}" class="form-control" placeholder="URL hình ảnh" required="required">
                        <label for="imageLink">URL hình ảnh</label>
                        </div>
                    </div>                   
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa"></i> Chỉnh sửa sản phẩm
            </button>
        </form>
      </div>
    </div>
</div>